<section class="fullemail">
  <v-col>
    <v-row class="px-2 mt-2" align="center">
      <v-avatar class="secondary mb-2 white--text font-weight-bold text-uppercase">{{email.from_email.charAt(0)}}
      </v-avatar>
      <v-flex class="pl-5">
        <p class="mb-0"><span class="font-weight-bold">{{email.from_email}}</span></p>
        <p>{{email.subject}}</p>
      </v-flex>
      <p class="pr-5 absolute top right text-right">{{emailDate}}<br>{{emailTime}}</p>
    </v-row>
    <div class="text-center mail-actions my-2">
      <span class="primary lighten-4 pa-1 pb-2 all-round">
        <v-btn small dark text @click="deleteThisMail">
          <v-icon size="12">fas fa-trash</v-icon>
        </v-btn>
        <v-btn small dark text>
          <v-icon size="12">fas fa-reply</v-icon>
        </v-btn>
        <v-btn small dark text>
          <v-icon size="12">fas fa-reply-all</v-icon>
        </v-btn>
        <v-btn small dark text>
          <v-icon size="12">fas fa-share</v-icon>
        </v-btn>
      </span>
    </div>
    <div class="pt-5" v-html="$sanitize(email.body)">
    </div>
  </v-col>
</section>