<section class="emaillistitem">
  <v-list-item @click="$emit('click')"  @contextmenu.prevent="$refs.menu.open">
    <template v-slot:default="{ active, toggle }">
      <v-row align="center">
        <v-col cols="2" align="center" @click="changePriority">
          <v-list-item-action>
            <v-icon v-if="!email.priority" color="grey lighten-1">
              far fa-star
            </v-icon>
            
            <v-icon v-else color="yellow">
              fas fa-star
            </v-icon>
          </v-list-item-action>
        </v-col>
        <v-list-item-content>
          <v-list-item-title>{{email.from_email}}</v-list-item-title>
          <v-list-item-subtitle>
            <span class="font-weight-bold">
              {{email.subject}}
            </span> - {{body}}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <v-list-item-action-text>{{emailDate}}</v-list-item-action-text>
        </v-list-item-action>
      </v-row>
    </template>
  </v-list-item>
  <vue-context ref="menu">
      <v-list three-line>
        <v-list-item v-for="(box, key) in boxes" :key=key>
            <v-list-item-title @click=moveMail(box.name)>Move to {{box.name}}</v-list-item-title>
          </v-list-item>
        </v-list>
      </vue-context>
</section>