<section class="freeflowconnect">
  <v-row>
    <!-- <v-flex md2 v-if="!expanded">
      <!-- <div class="text-xs-center pa-5 pr-0">
        <v-btn block color="success" @click="showCreateRoomDialog = true">
          <v-icon small left>
            fas fa-plus
          </v-icon>
          Create room
        </v-btn>
      </div> -->
      <!-- <v-navigation-drawer permanent class="transparent elevation-0">
        <v-list dense class="pl-2">
          <v-list-item link v-for="(room, index) in rooms" :key="index" @click="selectedRoom = room">
            <v-list-item-icon>
              <v-avatar color="primary">
                <v-icon dark>fas fa-users</v-icon>
              </v-avatar>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="text-capitalize">{{room.name}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer> -->
    </v-flex>
    <v-flex v-if="currentRoom" class="py-2 px-4">
      <v-card>
        <v-card-title class="primary white--text py-2">
          <v-row align="center" class="px-2">

            <v-avatar size="8" color="secondary darken-2 " class="mr-3">
            </v-avatar>
            <span class="text-uppercase">
              {{currentRoom.name}}
            </span>
            <v-spacer />
            <v-btn dark small icon @click="expanded = !expanded">
              <v-icon small v-if="!expanded">fas fa-expand</v-icon>
              <v-icon small v-else>fas fa-compress</v-icon>
            </v-btn>
          </v-row>
          </v-toolbar>
        </v-card-title>
        <v-card-text class="py-2">
          <v-row wrap>
            <v-flex d-flex md4 class="pa-1" v-for="(user, index) in getUsers" :key="index">
              <v-card style="width: 100%">
                <v-card-title class="primary white--text">
                  <span v-if="index == 0"><strong>{{user}}</strong></span>
                  <span v-else>{{user}}</span>
                  <v-spacer />

                  <div v-if="index == 0">
                    <v-btn v-if="!published" @click="unpublish" dark small icon>
                      <v-icon small>fas fa-video</v-icon>
                    </v-btn>
                    <v-btn v-else @click="publish" dark small icon>
                      <v-icon small>fas fa-video-slash</v-icon>
                    </v-btn>
  
                    <v-btn v-if="!muted" @click="toggleMute" dark small icon>
                      <v-icon small>fas fa-microphone</v-icon>
                    </v-btn>
                    <v-btn v-else @click="toggleMute" dark small icon>
                      <v-icon small>fas fa-microphone-slash</v-icon>
                    </v-btn>
                  </div>
                </v-card-title>
                <v-card-text class="pa-0 ma-0">
                  <video :id="'feed' + index" style="display: flex;width: 100%;border-radius: 0px 0px 10px 10px;" controls="controls" autoplay="autoplay"></video>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-row>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-row>

  <v-dialog v-model="showCreateRoomDialog" max-width="600px">
    <v-card>
      <v-toolbar color="primary" class="mb-3 text-uppercase" dark>
        <v-card-title>Please fill in the following information</v-card-title>
        <v-spacer />
        <v-btn icon class="mr-0" @click="showCreateRoomDialog = false">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <!-- <p>What's your name?</p>
        <v-text-field id="nameField" v-model="user" label="Name *" @keyup.enter="confirmRoomName" autofocus></v-text-field> -->

        <p>Which room name would you like to create?</p>
        <v-text-field id="roomNameField" v-model="roomName" label="Room name *" @keyup.enter="confirmRoomName"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <div class="flex-grow-1"></div>
        <v-btn text @click="confirmRoomName()">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</section>